*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('./assets/bg.png');
}


h1{
    color:rgb(14, 11, 199);
    position: relative;
    top: 55px;
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#game-image{
    height: 440px;
    width: 440px;
    position: relative;
    top: 100px;
    left: 150px;
}


p{
    
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 15px;
}


#play-button{
    height: 50px;
    width: 50px;
}


.playButtonDiv{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
    margin-top: 50px;
}